/* Fix slider width */
#slider-pc1 {
	display: contents;
}

#slider-pc2 {
	display: contents;
}

#slider-pc3 {
	display: contents;
}

#slider-pc4 {
	display: contents;
}

#slider-pc5 {
	display: contents;
}